:root {
	--font1: 'Poppins', monospace;
	--translucent-black: rgba(0,0,0,0.2);
	--sky-blue: #5290C9;
	--light-sky-blue: #A5E2FF;
	--dark-blue: #1F3559;
	--smoky-white: #E8EEF1;
}

html {
	scroll-behavior: smooth;
}

body {
    font-family: var(--font1);
	margin: 0px;
	overflow: scroll;
	overflow-x: hidden;
}

header {
	background-color: var(--light-sky-blue);
	padding: 15px;
	font-family: 'Arvo';
	border-bottom: 5px var(--sky-blue) solid;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}

.sideNav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--dark-blue);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align:center;
	z-index: 3;
}
  
.sideNav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  
}
  
.sideNav a:hover{
	color: #f1f1f1;
}
  
.sideNav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: white;
}

.sideNav .closebtn:hover {
	background-color: rgba(0, 0, 0, 0);
}

#menu-bar {
	display: flex;
	justify-content: center;
}

a.menu-item {
	margin: 0 30px 0 30px;
	padding: 5px;
	border-radius: 10px;
	height: auto;
	font-size: 18px;
	cursor: pointer;
}

a.menu-item:link, a.menu-item:visited {
	background-color: rgba(0,0,0,0);
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
  
a.menu-item:hover, a.menu-item:active {
	background-color: rgba(0,0,0,0.15);
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

span#search-bar {
	border-radius: 50px;
	height: 40px;
	min-width: 230px;
	width: auto;
	background-color: var(--translucent-black);
	border: 0;
	color:rgba(0, 0, 0, 0.6);
	position: absolute;
	right: 30;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

img#search-icon {
	height: 20px;
	width: 20px;
	float: left;
	margin: 10px;
	opacity: 0.6;
}

input#search-input {
	height: 40px;
	min-width: 200px;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	padding: 10px;
	color:rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	top: 0;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 14px;
	font-family: var(--font1);
}

input#search-input:focus {
	border: 0;
	outline: none !important;
}

input#search-input::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

#search-input::-webkit-search-cancel-button{
    display: none;   
}

#header-column {
	margin: auto;
	margin-top: auto;
	margin-bottom: auto;
}

#title {
	text-align: center;
	font-size: 30px;
	margin-bottom: 15px;
}


#introduction h1 {
	font-size: 58px;
    line-height: 1.0416666667;
    font-weight: 600;
}

#description {
	text-align: center;
	font-size: 32px;
}
#introduction {
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
	0% {opacity: 0; top: 30}
	100% {opacity:1; top: 0}
}
  
@-moz-keyframes fadeIn {
	0% {opacity: 0; top: 30}
	100% {opacity:1; top: 0}
}
  
@-webkit-keyframes fadeIn {
	0% {opacity: 0; top: 30}
	100% {opacity:1; top: 0}
}
  
@-o-keyframes fadeIn {
	0% {opacity: 0; top: 30}
	100% {opacity:1; top: 0}
}
  
@-ms-keyframes fadeIn {
	0% {opacity: 0; top: 30}
	100% {opacity:1; top: 0}
}

#content-area {
	padding: 15px 30px 15px 30px;
	box-sizing: border-box;
	height: auto;
	background-color: var(--smoky-white);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	border-width: 0;
	align-items: center;
	
}

.content-section {
	box-sizing: border-box;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-grow: 3;
	margin: 20px 30px 20px 30px;
	border-radius: 50px;
	position: relative;
	z-index: 1;
	margin-top: 100px;
}

.profile {
	background-color: var(--dark-blue);
	padding: 30px;
	box-sizing: border-box;
	height: 300px;
	flex-grow: 1;
	flex-shrink: 4;
	min-width: 200px;
	max-width: 300px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pfp {
	border-radius: 100%;
	width: 100px;
	height: 100px;
	background-color: black;
	justify-self: center;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#pfp-desktop img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
	border-radius: 100%;
}

#pfp-mobile {
	width: 70px;
	height: 70px;
	position: absolute;
	top: -40;
	left: -20;
	z-index: 2;
	visibility: hidden;
}

#pfp-mobile img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
	border-radius: 100%;
}

.article {
	background-color: var(--light-sky-blue);
	padding: 30px;
	box-sizing: border-box;
	flex-grow: 4;
	flex-shrink: 1;
	min-height: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#kminh article {
	width: 100%;
	font-size: 20px;
	display: inline-block;
	flex-grow: 3;
}

.profile, .article {
	border-radius: 25px;
	position: relative;
    top: 0;
  	transition: top ease 0.8s, box-shadow ease 0.8s;
	box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.profile:hover, .article:hover {
	top: -10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.content-section article {
	width: 100%;
	height: 100%;
}

#preston .profile {
	margin-left: 30px;
}

#kminh .profile, #binh-minh .profile {
	margin-right: 30px;
}

p {
	font-size: 16px;
}

footer {
	font-size: 16px;
	background-color: var(--light-sky-blue);
	padding: 15px 15px 5px 15px;
	border-top: 5px var(--sky-blue) solid;
	display: flex;
	position: relative;
	align-items: center;
}

#survey-form {
    padding: 15px;
}

#name-input {
	margin-bottom: 15px;
}

input[type='text'] {
	font-family: var(--font1);
}

#name {
    height: 30px;
    padding: 15px;
	border: 0;
    border-radius: 5px;
    width: 100%;
}

.input-area {
	background-color: var(--translucent-black);
	border: 0;
	border-radius: 5px;
}

.input-area:focus{
	background-color: var(--translucent-black);
	border: 0;
	border-radius: 5px;
	outline: none !important;
}

.input-area::placeholder {
	color: black;
	opacity: 0.75;
	font-family: var(--font1);
	font-size: 14px;
}

#comments-text-area {
    min-height: 100px;
	width: 100%;
    padding: 15px;
	resize: none;
	font-family: var(--font1);
}

#form-content {
	display: flex;
	box-sizing: border-box;
}

#form-column-1 {
	display: flex;
	flex-direction: column;
	margin: 0 15px 0 0;
}

#form-column-2 {
	display: flex;
	flex-direction: column;
	max-height: auto;
}

#comments {
	margin: 0 15px 15px 15px;
}

#radio-input {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

label#radio-labels {
	cursor: pointer;
	width: auto;
	border-radius: 25px;
}

label#radio-labels:hover {
	background-color: var(--translucent-black);
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

label#radio-labels input:checked {
	background-color: var(--translucent-black);
}

input[type="radio"] {
	background-color: var(--translucent-black);
	color: rgba(0, 0, 0, 0.75)
}

#radio-labels span {
	font-family: var(--font1);
	font-size: 14px;
}

#submit-button {
    background-color: var(--translucent-black);
    border-radius: 5px;
	border: 0;
    width: 80px;
	height: 40px;
	margin: 0 0 0 15px;
	color: rgba(0, 0, 0, 0.75);
	font-family: var(--font1);
	cursor: pointer;
}

#submit-button:hover {
	background-color: rgba(0, 0, 0, 0.3);
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

#contact-info {
    justify-self: right;
    width: auto;
	height: fit-content;
    font-family: var(--font1);
	padding: 15px;
	position: relative;
	right: 15;
	bottom: 15;
}

#contact-container {
	margin-top: 125px;
}

#social-bar {
	margin-top: 20px;
	margin-left: -3px;
}

.social-icons {
    width: 30px;
    filter: grayscale(100%);
	opacity: 0.6;
}

a:link, a:visited, a:active {
	color: black;
}

a:hover {
	color: black;
	background-color: var(--translucent-black);
	text-decoration: none;
}
	  
::-webkit-scrollbar {
  	width: 8px;
}
::-webkit-scrollbar-track {
  	border-radius: 0px;
  	background: var(--smoky-white);
}
::-webkit-scrollbar-thumb{
  	border-radius: 25px;
  	background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
	background: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:active{
	background: rgba(0,0,0,0.5);
}

@media only screen and (max-width: 968px) {
	span#search-bar {
		display: none;
	}

	#pfp-mobile {
		visibility: visible;
	}

	.profile {
		display: none;
	}

	.article {
		margin-bottom: 40px;
	}

	#introduction h1 {
		font-size: 48px;
		line-height: 1.0416666667;
		font-weight: 600;
	}
	
	#description {
		text-align: center;
		
		font-size: 28px;
	}
}

#form-page-container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--smoky-white);
}

#form-page-paragraph {
	margin: auto;
	width: max-content;
	position: relative;
	top: -20; 
}

#BinhMinh-stuff {
	font-size: 16px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.paragraph {
	display: block;
}

.picture {
	width: 300px;
	padding: 10px;
	float: right;
}

.boring-side-title {
	display: table;
	width: 100%;
}

.boring-side {
	float: left;
	display: inline-block;
	width: 70%;
}

.picture-side {
	float: right;
	display: inline-block;
	width: 20%;
}
